/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  text-align: center;
}

body {
  background: #fff;
  color: #000;
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin: 2rem auto;
}
h1 {
  font-size: 3rem;
  color: var(--clr-primary-5);
  margin: 30px auto;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-4);
  vertical-align: middle;
  margin: 30px 20%;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

iframe {
  width: 640px;
  height: 640px;
  margin: 0 auto;
}
iframe {
  display: block;
  border-style:none;
}


/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

/*
=============== 
Navbar
===============
*/
nav {
  background: #fff;
  box-shadow: var(--dark-shadow);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: #000;
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: #000;
  transform: rotate(90deg);
}
.logo {
  height: 40px;
}
.links a {
  color: var(--clr-grey-3);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.links a:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-5);
  padding-left: 1.5rem;
}
.social-icons {
  display: none;
}
/* by default hides links */
.links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
/* toggle class */
.show-links {
  height: 10rem;
}
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    /* important to add for bigger screen */
    height: auto;
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    display: flex;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: #000;
    transition: var(--transition);
  }
  .social-icons a:hover {
    color: var(--clr-primary-7);
  }
}

/*
=============== 
buttons
===============
*/
.btn {
  padding: 8px 14px; 
  font-size:1.2rem; 
  color: #000;
  background-color:#fff; 
  border-radius: 3px;
  border-width: 2px;
  border-style: solid;
  border-color:#000;
  transition: 0.3s;
}
.btn:hover {
  color: #fff; 
  background-color:#000; 
  border-color: #000;
}


/*
=============== 
Slideshow
===============
*/
/* Slideshow container */
.slideshow-container {
  max-width: auto;
  position: relative;
  margin: auto;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .5} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .5} 
  to {opacity: 1}
}



/*
=============== 
Meet the Team
===============
*/
#team-container .team-description {
  display: none;
}

#team-container .team-name {
  margin: 0;
}

#team-container img {
  width: 100%;
}

#team-container {
  display: grid;
  grid-template-columns: repeat(5, 230px);
  grid-gap: 20px;
  list-style-type: none;
  padding: 0px;
  max-width: 1230px;
  margin: 4em auto;
  width: fit-content;
}

@media screen and (max-width: 1300px) {
  #team-container {
    grid-template-columns: repeat(4, 230px);
  }
}

@media screen and (max-width: 1023px) {
  #team-container {
    grid-template-columns: repeat(3, 230px);
  }
}

@media screen and (max-width: 820px) {
  #team-container {
    grid-template-columns: repeat(2, 230px);
  }
}

@media screen and (max-width: 500px) {
  #team-container {
    grid-template-columns: repeat(1, 230px);
  }
}

#team-container > li {
  position: relative;
  height: 300px;
  width: 230px;
}
#team-popup {
  display: none;
  z-index: 2000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(20, 20, 20, 0.7);
}

#team-popup.active {
  display: unset;
}

#team-popup > div {
  display: none;
  background-color: white;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  padding: 1rem;
  border-radius: 8px;
}

#team-popup.active > div {
  display: block;
}

#team-popup-description {
  overflow-y: auto;
  max-height: 60vh;
  height: auto;
}
#team-popup > div > img {
  position: absolute;
  right: 0;
  top: 0;
  margin: 25px;
  width: 30px;
  cursor: pointer;
  user-select: none;
}

/*
=============== 
Programs Page
===============
*/
img {
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
}
.img-icon {
  width: 100px; 
  height: 100px;
}
.center {
  margin: auto;
}
.program {
  margin: 50px auto;
}
.subtitle {
  font-size: 18px; 
  font-weight: 300;
}


/*
=============== 
Animations
===============
*/
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in-3 {
  animation: fade-in 3s;
}

.fade-in-3-pre {
  visibility: hidden;
}